.ͼ3 .cm-gutters {
  background-color: transparent;
  color: #34363e;
}

.cm-theme {
  height: 100%;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {

  cursor: row-resize !important;
}
